.dashboard-container {
  padding: 25px;
  padding-top: 100px;
  margin: 0 auto;
  margin-top: -10px;
  background-color: #f5f7fa; /* Azul muito claro */
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Ajustado para mobile */
}


.text-result{
  font-size: 14px;
  padding: 0 20px;
}
.dashboard-column1, .dashboard-column2, .dashboard-column {
  background-color: #ffffff; /* Branco */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;

}


.dashboard-column1 {
  min-width: 200px;
  padding: 20px;
}

.dashboard-column2 {
  font-size: 13px;
}

.dashboard-column h2 {
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
}

.dashboard-column p {
  font-size: 12px;
  color: black;
  margin-bottom: 0px;
}

.chart-container {
  position: relative;
  width: 100%;

  height: 200px;
  background-color: #fcfcfc; /* Branco */
  /*border: 1px solid #ccc;*/
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.geral {
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff; /* Branco */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dashboard-bar-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.dashboard-bar-background {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.dashboard-bar {
  height: 100%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.dashboard-percentage-label {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: right;
}

.dashboard-bar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.dashboard-bar-topico {
  font-size: 13px;
  font-weight: bold;
}

.dashboard-ranking {
  width: 100%;
}

.dashboard-column {
  width: 100%;
  margin-right: 20px;
}
.desktop-title{
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 12px;
  color: grey;
}
.dashboard-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  padding: 15px;
}
.dashboard-text-container h4{
  margin-left: -5px;
  margin-bottom: 10px;
  font-size: 15px;
  margin-top: 10px;
}
.text-with-icon,
.text-with-lock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: -5px;
}
.text-with-rank{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: -5px;
}
.spanRank{
  font-weight: bold;
  color: #000;
}
.criticalIcon {
  color: red;
  margin-right: 8px;
}

.developmentIcon {
  color: #ffaa00;
  margin-right: 8px;
}

.acceleratingIcon {
  color: green;
  margin-right: 8px;
}

.excellentIcon {
  color: rgb(0, 134, 209);
  margin-right: 8px;
}

.critical {
  color: red;
}

.development {
  color: #ffaa00;
}

.accelerating {
  color: green;
}

.excellent {
  color: rgb(0, 134, 209);
}

.lockIcon {
  color: gray;
}

.text-count {
  margin-left: auto;
  font-weight: bold;
}

.mobile-controls {
  display: none; /* Escondido no desktop */
}

.control-button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F3163;
  padding: 15px;
}

.socialIcon {
  color: white;
  font-size: 16px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: #aaa; /* Ajuste a cor do hover conforme necessário */
}

.control-button.active {
  border-bottom: 2px solid blue; /* Cor azul quando ativo */
}
.dashboard-text-container{
  margin-top:-15px;
  padding-bottom: 
  0;
}
.button-card-div{
  display: none;
}
@media (max-width: 768px) {
  .card-compartilhamento-laranja{
    flex-direction: column;
  }
  .card-compartilhamento-laranja-COLUMN2{
    padding-bottom: 20px;
  }
  .button-card-div{
    display: block;
  }
  .rankingmercado{
    display: block;
    margin-top: -25px;
  }
  .rankingmercado-parte0{
    width: 100%;
  }
  .rankingmercado-parte1{
    width: 100%;
    padding-top: 0px;
  }
  .rankingmercado-parte2{
    display: none;
  }
  .case-column h2 {
    font-size: 30px;
  }
  .case-column{
    display: flex;
    flex-direction: column;
    align-items: left;

  }
  .case-column2{
    flex-direction: row;
  }
  .dashboard-row, .dashboard-row2 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;

  }
  .dashboard-text-container{
    font-size: 12px;
  }
  .dashboard-column {
    width: 100%;
    margin-right: 0px;
  }
  .mobile-controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .dashboard-ranking,
  .dashboard-fundamentos {
    display: none;
  }

  .dashboard-row, .dashboard-row2 {
    flex-direction: column;
  }

  .dashboard-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .dashboard-ranking[style*="block"] {
    display: block !important;
    width: 100%;
  }

  .dashboard-fundamentos[style*="block"] {
    display: block !important;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .card-compartilhamento-laranja-COLUMN1{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    padding: 10px;
  }
  .card-compartilhamento-laranja-COLUMN2{
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;

  }
  .footer{
    margin-left: 270px;
  }
  .rankingmercado{
    display: flex;
  }
  .rankingmercado-parte0{
    display: none;
  }
  .rankingmercado-parte1{
    width: 50%;
  }
  .rankingmercado-parte2{
    width: 50%;
  }
  .oqueeonfly-column{
    padding: 10px;
  }
  .case-column h2{
    font-size: 34px;
  }
  .case-column2{
    padding: 120px;
    max-width: 400px;
  }
  .dashboard-column1{
    max-width: 270px;
  }
  .dashboard-row, .dashboard-row2 {
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
  }
  .dashboard-content{
    display: flex;
  }

  .cases{
    padding: 30px 90px;
    margin-left: 270px;
  }
  .card-compartilhamento{
    padding: 30px 90px;
    margin-left: 270px;
  }
  .rankingmercado{
    padding: 0px 90px;
    margin-left: 270px;
  }
  .oqueeonfly{
    padding: 50px 90px;
    margin-left: 270px;
  }
  .dashboard-container{
    margin-left: 270px;
    padding: 10px;
    padding-top: 90px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1260px) {
  .dashboard-row, .dashboard-row2 {
      display: block;
      padding: 0 10px 0 10px;
  }
  .dashboard-column{
    margin-bottom: 20px;
  }

}
@media (min-width: 1260px) {
  .dashboard-row, .dashboard-row2 {
    display: flex;
}
}
@media (max-width: 1260px) {
  .desktop-title{
    margin-bottom: 10px;
  }
}
/* Adicione isso ao seu Dashboard.module.css */

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  background: #0F3163;
  position: fixed; /* Torna o header fixo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  border-bottom: 1px solid #ccc;
}
.sidebar{
  justify-content: space-between;
  border-right: 1px solid #ccc;
  align-items: center;
  padding: 120px 20px 0 20px;
  background: #0F3163;
  position: fixed; /* Torna o header fixo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Garante que o header fique acima de outros elementos */
  width: 270px;
  height: 1200px;
  color: white;
}
.otherTopics {
  margin-top: 1rem;
}
.sidebar p{
  margin-top: 3px;
}
.topicItem {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Ajuste a distância entre o ícone e o texto, se necessário */

}

.icon {
  font-size: 1.2rem; /* Ajuste o tamanho do ícone, se necessário */
}
.sidebar .icon {
  font-size: 1.2rem; /* Ajuste o tamanho do ícone, se necessário */
  color: #5CC4FD; /* Define a cor dos ícones */
  width: 20px; /* Define a largura fixa */
  height: 20px; /* Define a altura fixa */
}
.prioritized{
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.title {
  color: white;
  margin: 0;
  padding-left: 40px;
  font-size: 24px;
  padding-bottom: 5px;
}

.imageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 55px;
}

/* Estilos adicionais para a imagem, se necessário */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsiveImage2{
  width: 100%;
}


@media (max-width: 768px) {
  .header{
    padding-left: 45px;
    padding-right: 25px; 
  }
  .imageLink {
    padding-right: 0;
    width: 25%;
  }
  .title {
    display: none;
  }
  .dashboard-container {
    padding-top: 80px; /* Ajuste para a altura do header em mobile */
  }
  .sidebar{
    display: none;
  }
}
.corpo{
  background-color: #f5f7fa;
}

.responsiveImage {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
.case-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.case-column2-borda-imagem{
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  align-self: center;

}
.case-column {
  flex: 1;
  padding: 25px;
}
.case-column2{
  align-items: center;
  display: flex;

  padding: 25px;
}
.case-column p{
  color: white;
}

.case-column2{
  align-items: center;
  justify-items: center;
}
@media (max-width: 768px) {
  .case-item {
    display: block;
  }
  .case-column2-borda-imagem{
    width: 100%;
  }
}  
.case-column h4 {
  margin-bottom: 10px;
}

.case-column p {
  margin-bottom: 10px;
}
.case-column h2{
  background: linear-gradient(to right, white, #267FFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.responsiveImage {
  max-width: 100%;
  height: auto;
  align-self: center;
  width: 100%;
}
.cases{
  padding-bottom: 10px;
  background: #0F3163;
}
.card-compartilhamento{
  background: #0F3163;
  margin-top: -5px;
}
.cases p{
  padding-bottom: 30px;
  margin-top:0px;
}
.rankingmercado{
  background: #0F3163;
  padding-bottom: 50px;
}


.corpo{
  overflow-x: hidden;
}
.case-button{
  width: 200px;
  background-color: #FF5A05;
  color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 20px;
  border-color: #FF5A05;
  font-size: 16px;
  align-self: center;
}
/* CSS para a versão desktop */
.oqueeonfly {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f5f7fa;
  padding: 75px 115px;
}

.oqueeonfly-parte1 {
  margin-bottom: 20px;

}

.oqueeonfly-parte1 h2 {
  margin-bottom: 10px;
  font-size: 34px; /* Aumenta o tamanho da fonte do título */
}

.highlight {
  color: #007BFF; /* Altere para a cor desejada */
}

.oqueeonfly-parte1 p {
  margin-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
}

.oqueeonfly-parte2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.oqueeonfly-column {
  flex: 1;

  max-width: 33%;
  text-align: left; /* Alinha os textos à esquerda */
}

.oqueeonfly-column h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.oqueeonfly-column p {
  margin-top: 10px;
  font-size: 15px;
}

/* CSS para a versão mobile */
@media (max-width: 768px) {
  .oqueeonfly-parte1 p {
    padding-left: 0px;
    padding-right: 0px;
  }
  .oqueeonfly {
    text-align: left;
    padding: 25px;
    padding-top: 20px;
  }
  .cases{
    padding-bottom: 5px;
  }
  .card-compartilhamento{
    padding-bottom: 5px;
  }
  .oqueeonfly-parte1 {
    margin-bottom: 20px;

  }

  .oqueeonfly-parte2 {
    display: block;
  }

  .oqueeonfly-column {
    margin-bottom: 20px;
    max-width: 100%;
  }
}
.highlight{
  color: #009EFB;
  ;
}
.sidebar-button {
  margin-top: 70px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF5A05; /* Laranja */
  border: 2px solid #FF5A05; /* Borda laranja */
  color: #FFFFFF; /* Texto branco */
  text-align: center;
  text-decoration: none; /* Remove sublinhado */
  border-radius: 25px; /* Torna o botão arredondado */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para hover */
  width:200px;
}

.sidebar-button:hover {
  background-color: #D73600; /* Laranja mais escuro no hover */
  border-color: #D73600; /* Laranja mais escuro no hover */
}
.case-button:hover {
  background-color: #D73600; /* Laranja mais escuro no hover */
  border-color: #D73600; /* Laranja mais escuro no hover */
}
.sidebar-button-ranking {
  width:200px;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #5CC4FD; /* Laranja */
  border: 2px solid #5CC4FD; /* Borda laranja */
  color: #FFFFFF; /* Texto branco */
  text-align: center;
  text-decoration: none; /* Remove sublinhado */
  border-radius: 25px; /* Torna o botão arredondado */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para hover */
}
.sidebar-button-ranking:hover {
  background-color: #006DA7;
  border-color: #006DA7; /* Laranja mais escuro no hover */
}
.button-card {
  align-self: center;
  width:100%;
  margin-top: 30px;
  padding: 5px 5px;
  background-color: #5CC4FD; /* Laranja */
  border: 2px solid #5CC4FD; /* Borda laranja */
  color: #FFFFFF; /* Texto branco */
  text-align: center;
  text-decoration: none; /* Remove sublinhado */
  border-radius: 25px; /* Torna o botão arredondado */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para hover */
}
.button-card:hover {
  background-color: #006DA7;
  border-color: #006DA7; /* Laranja mais escuro no hover */
}
.button-card-div{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0px 10px;
}





.sidebar-button-header{
  display: none;
  padding: 7px;
  background-color: #FF5A05; /* Laranja */
  border: 1px solid #FF5A05; /* Borda laranja */
  color: #FFFFFF; /* Texto branco */
  text-align: center;
  text-decoration: none; /* Remove sublinhado */
  border-radius: 25px; /* Torna o botão arredondado */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para hover */
}
@media (max-width: 768px) {
  .sidebar-button-header{
    display: flex;
    align-self: right;
    font-size: 13px;
    align-self: center;
  }
  .button-compartilhar{
    display: none;
  }
} 
@media (min-width: 768px) {
  .oqueeonfly h2{
    margin-top: 0px;
  }
  .oqueeonfly{
    padding-bottom: 30px;
  }
  .button-card-div{
    display: none;
  }
  .rankingmercado h2{
    margin-top: 0px;
  }
  .button-compartilhar{
    display: inline-block;
  }
  .text-result{
    width: 85%;
  }
} 
.sidebar-button-header:hover {
  background-color: #D73600; /* Laranja mais escuro no hover */
  border-color: #D73600; /* Laranja mais escuro no hover */
}
.lockIcon2{
  padding-left: 10px;
}
.acima-dashboard{
  display: flex;
}
.button-compartilhar{
  width: 100%;
  padding: 10px 20px;

  background: linear-gradient(45deg, #FFA500, #FF5A05); /* Degradê de laranja claro para escuro */
  border: 1px solid #FF5A05; /* Borda laranja */
  color: #FFFFFF; /* Texto branco */
  text-align: center;
  text-decoration: none; /* Remove sublinhado */
  border-radius: 25px; /* Torna o botão arredondado */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para hover */
}
.button-compartilhar:hover {
  background-color: #D73600; /* Laranja mais escuro no hover */
  border-color: #D73600; /* Laranja mais escuro no hover */
}
.button-compartilhar-div{
  padding-top: 20px;
  display: flex;
  align-items: right;
  width: 20%;
}
.rankingmercado-parte1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 25px;
}
.rankingmercado-parte2{
  padding: 25px;
}
.rankingmercado-parte2 h2{
  color: white;
  font-size: 34px;
}
.rankingmercado-parte2 p{
  color: white;
}
.rankingmercado-parte0{
  padding: 25px;
}
.rankingmercado-parte0 h2{
  color: white;
  font-size: 34px;
}
.rankingmercado-parte0 p{
  color: white;
}
.button-ranking-slide {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px; /* Espaçamento interno */
  background-color: #0F3163; /* Cor de fundo azul escuro */
  color: #839dbc; /* Cor do texto cinza claro */
  border: solid 1px rgba(6, 28, 62, 0.1); /* Cor da borda */
  width: 100%;
  text-decoration: none;
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 6px -6px, /* Sombra escura embaixo */
              rgba(255, 255, 255, 0.4) 0px -4px 8px -6px; /* Sombra clara em cima */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave para hover */
}

.button-ranking-slide:hover {
  background-color: #122b4a; /* Cor de fundo mais escura ao passar o mouse */
}




.button-ranking-slide .icon {
  margin-left: 8px; /* Espaço entre o texto e o ícone */
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.button-reload{
  margin-top: 20px;
  background-color: #009EFB;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}

.button-close {
  margin-top: 20px;
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
}
.card-compartilhamento-laranja {
  display: flex;
  background: linear-gradient(135deg, #5CC4FD, #267FFA);
  color: white; /* Define a cor do texto como branco */
  border-radius: 20px;
  padding: 15px;
}

.card-compartilhamento-div-extra{
  padding: 25px;
  padding-top: 0px;
}
.button-card2{
  display: none;
}