.dashboard-container {
  padding: 25px;
  padding-top: 100px;
  margin: 0 auto;
  margin-top: -10px;
  background-color: #f5f7fa; /* Azul muito claro */
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Ajustado para mobile */
}


.text-result{
  font-size: 14px;
  padding: 0 20px;
}
.dashboard-column1, .dashboard-column2, .dashboard-column {
  background-color: #ffffff; /* Branco */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.dashboard-column1 {
  min-width: 200px;
  padding: 20px;
}

.dashboard-column2 {
  font-size: 13px;
}

.dashboard-column h2 {
  text-align: center;
  font-size: 16px;
  color: black;
  margin-top: 40px;
}

.dashboard-column p {
  font-size: 12px;
  color: black;
}

.chart-container {
  position: relative;
  width: 100%;

  height: 200px;
  background-color: #fcfcfc; /* Branco */
  /*border: 1px solid #ccc;*/
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.geral {
  font-size: 24px;
  font-weight: bold;
  background-color: #ffffff; /* Branco */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dashboard-bar-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.dashboard-bar-background {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.dashboard-bar {
  height: 100%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.dashboard-percentage-label {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: right;
}

.dashboard-bar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.dashboard-bar-topico {
  font-size: 13px;
  font-weight: bold;
}

.dashboard-ranking {
  width: 100%;
}

.dashboard-column {
  width: 100%;
  margin-right: 20px;
}
.desktop-title{
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 12px;
  color: grey;
}
.dashboard-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  padding: 15px;
}
.dashboard-text-container h4{
  margin-left: -5px;
  margin-bottom: 10px;
  font-size: 15px;
}
.text-with-icon,
.text-with-lock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: -5px;
}

.criticalIcon {
  color: red;
  margin-right: 8px;
}

.developmentIcon {
  color: #f4ec12;
  margin-right: 8px;
}

.acceleratingIcon {
  color: green;
  margin-right: 8px;
}

.excellentIcon {
  color: rgb(0, 134, 209);
  margin-right: 8px;
}

.critical {
  color: red;
}

.development {
  color: #c8bb4c;
}

.accelerating {
  color: green;
}

.excellent {
  color: rgb(0, 134, 209);
}

.lockIcon {
  color: gray;
}

.text-count {
  margin-left: auto;
  font-weight: bold;
}

.mobile-controls {
  display: none; /* Escondido no desktop */
}

.control-button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.control-button.active {
  border-bottom: 2px solid blue; /* Cor azul quando ativo */
}

@media (max-width: 768px) {
  .dashboard-row, .dashboard-row2 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;

  }
  .dashboard-text-container{
    font-size: 12px;
  }
  .dashboard-column {
    width: 100%;
    margin-right: 0px;
  }
  .mobile-controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .dashboard-ranking,
  .dashboard-fundamentos {
    display: none;
  }

  .dashboard-row, .dashboard-row2 {
    flex-direction: column;
  }

  .dashboard-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .dashboard-ranking[style*="block"] {
    display: block !important;
    width: 100%;
  }

  .dashboard-fundamentos[style*="block"] {
    display: block !important;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .dashboard-row, .dashboard-row2 {
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
  }
  .dashboard-content{
    display: flex;
  }
  .dashboard-column1 {
    margin-left: 10px;
  }
  .cases{
    padding: 50px;
    margin-left: 270px;
  }
  .dashboard-container{
    margin-left: 270px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .dashboard-row, .dashboard-row2 {
      display: block;
      padding: 0 10px 0 10px;
  }
  .dashboard-column{
    margin-bottom: 20px;
  }

}
@media (min-width: 1300px) {
  .dashboard-row, .dashboard-row2 {
    display: flex;
}
}
@media (max-width: 1300px) {
  .desktop-title{
    margin-bottom: 10px;
  }
}
/* Adicione isso ao seu Dashboard.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #0086D1;
  position: fixed; /* Torna o header fixo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  border-bottom: 1px solid #ccc;
}
.sidebar{
  justify-content: space-between;
  align-items: center;
  padding: 120px 20px 0 20px;
  background-color: #0086D1;
  position: fixed; /* Torna o header fixo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Garante que o header fique acima de outros elementos */
  width: 270px;
  height: 1200px;
  color: white;
}
.otherTopics {
  margin-top: 1rem;
}

.topicItem {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Ajuste a distância entre o ícone e o texto, se necessário */
}

.icon {
  font-size: 1.2rem; /* Ajuste o tamanho do ícone, se necessário */
}
.prioritized{
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.title {
  color: white;
  margin: 0;
  padding-left: 40px;
  font-size: 24px;
  padding-bottom: 5px;
}

.imageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 55px;
}

/* Estilos adicionais para a imagem, se necessário */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .imageLink {
    padding-right: 0;
  }
  .title {
    display: none;
  }
  .dashboard-container {
    padding-top: 100px; /* Ajuste para a altura do header em mobile */
  }
  .sidebar{
    display: none;
  }
}


.responsiveImage {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.case-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.case-column {
  flex: 1;
  padding: 10px;
}

.case-column h4 {
  margin-bottom: 10px;
}

.case-column p {
  margin-bottom: 10px;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
}
.cases{
  width: 100%;
  background-color: white;
}