/* InputCompartilhar.module.css */

.inputCompartilharContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 5px; /* Espaçamento interno */
    width: 100%;
  }
  
  .inputCompartilharContainer input {
    flex: 1;
    border: none;
    background-color: white;
    color: #009EFB;
    font-size: 13.5px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .inputCompartilharContainer button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .inputCompartilharContainer button:hover {
    opacity: 0.8;
  }
  .copyIcon {
    color: #009EFB; /* Cor do ícone */
  }